<!-- menu work -->
<div id=menuBar>
  <table class=menuTable>
    <tr>
      <td  class=menuBar><a class=menuLink href='home.html'>Home</a></td>
      <td  class=menuBar><a class=menuLink href='blogs.html'>Blogs</a></td>
      <!-- <td  class=menuBar><a class=menuLink href='charts.html'>Graphs</a></td> -->
      <td  class=menuBar><a class=menuLink href='#' onclick='getChart();'>Graphs</a></td>
      <td  class=menuBar><a class=menuLink href='PDSocialBonding.html'>Shirts</a></td>
      <td  class=menuBar><a class=menuLink href='about.html'>About Us</a></td>
      <td  class=menuBar><a class=menuLink href='suggestions.html'>Suggestions</a></td>
      <!-- <td  class=menuBar><a id='scrollDownMsg' class=menuLink  href='#' onclick='scrollPage();'>Scroll Down</a></td> -->
    </tr>
  </table>
  <table id=altMenuTable class=menuTable>
  </table>
</div>
<!-- end menu work -->
