<!-- beginning paypal form -->
<div id=paypalElt>
<div class="grid-container">

  <div class="grid-x grid-padding-x">
    <div class="large-12 cell">
      <h1>Payments</h1>
    </div>
  </div>

  <div class="grid-x grid-padding-x">
    <div class="large-12 medium-12 cell">
          <div class="grid-x grid-padding-x">
            <div class="large-12 medium-12 small-12 cell">
              <span class=proceeds>Percentage of all proceeds go to COVID 19 victims.</span>
            </div>
            <div class="large-12 medium-12 small-12 cell">
              <div id=PPprice class=ppal> </div>
              <div id=PPnumber class=ppal> </div>
              <div id=PPsubTotal class=ppal> </div>
              <div id=PPshipping class=ppal> </div>
              <div id=PPtax class=ppal> </div>
            </div>
            <div class="large-4 medium-4 small-4 cell">
              <div class=RequestList>
                <div id="paypal-button-container"></div>
              </div>
            </div>
          </div>
       </div>
  </div>
</div>
</div>

<!-- end of paypal form -->
