<!-- beginning paypal form -->
<div id=paypalElt>
      <h3>Pay Here</h3>
      <h5>PayPal or Credit Card</h5>
            <div>
              <span class=proceeds>Percentage of all proceeds go to COVID 19 victims.</span>
            </div>
            <div>
              <div id=PPprice class=ppal> </div>
              <div id=PPnumber class=ppal> </div>
              <div id=PPsubTotal class=ppal> </div>
              <div id=PPshipping class=ppal> </div>
              <div id=PPtax class=ppal> </div>
            </div>
            <div>
              <div class=RequestList>
                <div id="paypal-button-container"></div>
              </div>
            </div>
          </div>
       </div>

<!-- end of paypal form -->
