<div class="large-4 medium-4 cell">
  <div class="large-4 medium-4 small-4 cell">
    <div class="primary callout">
      <!-- shopping cart html -->
      <div id=shoppingCart>
        <table id=shoppingTable>
          <tr><td>Type</td><td>Count</td><td>Size</td><td>Cost</td><td>Price</td><td><span id=total> </span></td></tr>
          <tr><td><input id=coupon type="text" perc="0" placeholder="Coupon?" /></td><td></td><td></td><td></td><td></td><td><span class=submitButton id=payButton onclick="getCustomerInfo();"> Pay Now </span></td></tr>
        </table>
      </div>
