
      <!-- beginning of sizing chart -->
      <style>
      #xit {
        position: relative;
        float: right;
        color: orange;
        top:5%;
        right:5%;
      }
      </style>
      <div id=sizingWork>
        <div id=sizePic>
          <img src='./images/measure.gif' onclick="openSizes();">
          <button id="xit" onclick=closeAllSizing()><img src='./images/exit.png'/></button>
        </div>
        <div id=labelPic>
          <img src='./images/measureLabel.gif' onclick="openSizes();">
        </div>
        <div id=sizeChart onclick=closeSizes();>
          <table>
            <tr><td class=mchart>Size</td><td  class=mchart>Length</td><td  class=mchart>Chest</td></tr>
            <tr><td  class=mchart>XS</td><td  class=mchart>28</td><td  class=mchart>31-32</td></tr>
            <tr><td  class=mchart>S</td><td  class=mchart>28&frac14;</td><td  class=mchart>34-38</td></tr>
            <tr><td  class=mchart>M</td><td  class=mchart>29&frac38;</td><td  class=mchart>38-42</td></tr>
            <tr><td  class=mchart>L</td><td  class=mchart>30&frac12;</td><td  class=mchart>42-46</td></tr>
            <tr><td  class=mchart>XL</td><td  class=mchart>31&frac58;</td><td  class=mchart>46-48</td></tr>
            <tr><td  class=mchart>2XL</td><td  class=mchart>32&frac34;</td><td  class=mchart>48-50</td></tr>
            <tr><td  class=mchart>3XL</td><td  class=mchart>33&frac78;</td><td  class=mchart>50-52</td></tr>
            <tr><td  class=mchart>4XL</td><td  class=mchart>35</td><td  class=mchart>52-54</td></tr>
            <tr><td  class=mchart>5XL</td><td  class=mchart>36&frac18;</td><td  class=mchart>54-56</td></tr>
          </table>
        </div>
      </div>
      <!-- end of sizing chart -->

    </div>
  </div>
</div>
